*{
    background-color: rgb(0, 0, 0);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #ffffff;
}

header{
    display: flex;
    padding-top: 18px;

}

.logo{
    display: flex;
    transition: 500ms;
    flex-direction: column;
}

.logo:hover{
    transform: scale(1.2);
}


main{
    display: flex;
    justify-content: center;
}

.textArea{
    box-shadow: -3px 3px #ffffff;
    border: 2px solid #ffffff;
    color: #ffffff;
    margin-top: 15px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-transform: lowercase;
}

::placeholder{ color: #ffffff;;}

.textArea:focus{
    outline: none;
}

.mensajeArea{
    box-shadow: 3px -3px #ffffff;
    border: 2px solid #ffffff;
    color: #ffffff;
    margin-top: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-transform: lowercase;
    margin-left: 100px;
    background-image: url(imagenes/eye4.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.mensajeArea:focus{
    outline: none;
}

.mensajeArea::selection{
    background: #8f3838;
}

p{
    font-family: 'Inter';
    font-size: 14px;
    display:flex;
    align-items: center;
    cursor: pointer;
    transition: 500ms;
}

p:hover{
    color: #af3737;
}

.botones{
    display: flex;
    margin-top: 10px;
    transition: 500ms;
}

.btencriptar{
    box-shadow: -3px 3px #ffffff;
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    height: 45px;
    width: 200px;
    transition: 500ms;
}

.btencriptar:hover{
        transform: scale(1.1);
        cursor: pointer;
}

.btencriptar:active{
        transition: 50ms;
        background-color: black;
        color: #ffffff;
        border-color: #ffffff;
}

.btdesencriptar{
    box-shadow: -3px 3px #ffffff;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    margin-left: 25px;
    height: 45px;
    width: 200px;
    transition: 500ms;
}
.btdesencriptar:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.btdesencriptar:active{
    transition: 50ms;
    background-color: #ffffff;
    color: black;
    border-color: black;
}

.imgBorrar{
    height: 40px;
    background: none;
}

.borrar{
    margin-left: 25px;
    border: 1px solid #ffffff;
    transition: 500ms;
    height: 47px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -3px 3px #ffffff;
}

.borrar:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.borrar:active{
    transition: 50ms;
    background-color: #af3737;
}

.copiar{
    box-shadow: 3px -3px #ffffff;
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    height: 45px;
    width: 200px;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    transition: 500ms;
}

.copiar:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.copiar:active{
    transition: 50ms;
    background-color: black;
    color: #ffffff;
    border-color: #ffffff;
}

.informacion{
    font-size: 15px;
}

.exclamacion{
        font-size: 15px;
        margin-right: 5px;
}

.piePagina{
    margin-right: 40px;
    display: flex;
    justify-content: right;
}

.icon{
    margin-left: 12px;
    width: 25px;
    height: 25px;
    transition: 500ms
}

.icon:hover{
    transform: scale(1.2);
}


@media (max-width:1154px){
    .logo{
        width: 35%;
    }
    main{
        flex-direction: column;
    }
    .textArea, .mensajeArea{
        margin: 5%;
        width: 95%;
        height: 95%;
        font-size: 28px;
    }
    .informacion{
        font-size: 55%;
    }
    p{
        font-size: 23%;
    }
    .botones, .informacion, .copiar{
        margin-left: 10%;
        margin: 5%;
        width: 92%;
    }
    .piePagina{
        justify-content: center;
        margin: 10% 0 0 0;
        font-size: 68px;
    }
    .icon{
        height: 50%;
        width: 35px;
    }
}